@section Head
{
    <link type="text/css" rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css" />
}
<style>
    .blockOverlay {
        background-color: #fff !important;
        cursor: default !important; /*預設游標*/
    }
</style>
<h2>資料操作</h2>
<div>
    <button onclick="cmd('patch')">重新介接資料</button>
    <button onclick="cmd('get')">取得資料庫資料</button>
    @*<button onclick="cmd('post')">新增資料</button>
        <button onclick="cmd('put')">更新資料</button>*@
    <button onclick="cmd('delete')">刪除資料庫資料</button>
</div>
<div>
    <table id="tableStatistics">
        <thead>
            <tr align="center">
                <th>
                    <span>公園名稱</span>&ensp;
                </th>
                <th>
                    <span>行政區</span>&ensp;
                </th>
                <th>
                    <span>管理單位</span>&ensp;
                </th>
                <th>
                    <span>設施列表</span>&ensp;
                </th>
            </tr>
        </thead>
        <tbody>
            <tr align="center"></tr>
        </tbody>
    </table>
    @*<div id="loadingImg" style="display: none;">
        <img src="@Url.Content("~/")Images/loading.gif" />
        資料處理中，請稍後...
    </div>*@
</div>
@section Scripts
{
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://malsup.github.io/jquery.blockUI.js"></script>
    <script>
        $(document).ready(function () {
            $('#tableStatistics').DataTable({
                order: [[1, 'asc'], [0, 'desc']],
                columnDefs: [
                    {
                        "className": "dt-center",
                        "targets": "_all"
                    }
                ],
                ajax: {
                    "type": "post",
                    "url": '/Panel/Get',
                    "dataSrc": "Data",
                },
                columns: [
                    { data: 'ParkName' },
                    { data: 'Dict' },
                    { data: 'ManagementUnit' },
                    {
                        data: 'facilityList',
                        render: function (data, type, row) {
                            var str = '';
                            data.forEach((v, i) => {
                                str += `${v.Name}x${v.Cnt}、`;
                            });
                            if (str.length > 0)
                                str = str.substring(0, str.length - 1);
                            return str;
                        }
                    }
                ]
            });
        });

        /**
         * 調用後端方法
         * @@param method {string} 方法名稱
         */
        function cmd(method) {
            $.ajax({
                type: 'post',
                url: '/Panel/' + method,
                data: null,
                dataType: 'json',
                beforeSend: function () {
                    //$('#loadingImg').show();
                    $.blockUI({
                        timeout: 30000, 
                        message: '資料處理中，請稍後...<br><img src="@Url.Content("~/")Images/loading.gif" />'
                    });
                },
                complete: function () {
                    //$('#loadingImg').hide();
                    $.unblockUI(); 
                },
                success: function (data) {
                    console.log(data);
                    if (data.Code == 0) {
                        alert(data.Message)
                        return;
                    }
                    else {
                        reloadTable();
                    }
                },
                error: function (error) {
                    console.log(error);
                    alert(error);
                }
            });
        }

        /**重新載入dataTable */
        function reloadTable() {
            $('#tableStatistics').DataTable().ajax.reload();
        }
    </script>
}